services:
  app_proxy:
    environment:
      APP_HOST: rodb-gopool-container
      APP_PORT: 80
    container_name: rodb-gopool_app_proxy_1
  gopool:
    image: rodb2008com/gopool:latest
    container_name: rodb-gopool-container
    restart: unless-stopped
    ports:
      - '23456:23456'
      - '24333:24333'
      - '24443:24443'
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
      - ${APP_DATA_DIR}/scripts:/app/scripts
      - ${APP_DATA_DIR}/logo.png:/app/logo.png:ro
      - >-
        /home/umbrel/umbrel/app-data/bitcoin/data/bitcoin/.cookie:/home/umbrel/.cookie:ro
    environment:
      - APP_ENV=production
      - PORT=80