services:
  rodb-app_proxy:
    image: getumbrel/app-proxy:1.0.0
    restart: unless-stopped
    volumes:
      - >-
        /home/umbrel/umbrel/app-data/rodb-gopool/umbrel-app.yml:/extra/umbrel-app.yml:ro
    environment:
      - APP_ENV=production
      - APP_HOST=rodb-gopool-container
      - APP_PORT=80
      - MANAGER_IP=${UMBREL_MANAGER_IP:-10.21.0.1}
      - UMBREL_AUTH_SECRET=${UMBREL_AUTH_SECRET}
    container_name: rodb-gopool_app_proxy_1
    networks:
      - umbrel_main_network
  rodb-gopool:
    image: rodb2008com/gopool:latest
    container_name: rodb-gopool-container
    restart: unless-stopped
    ports:
      - '23080:80'
      - '23456:23456'
      - '24333:24333'
      - '24443:24443'
    volumes:
      - /home/umbrel/umbrel/app-data/rodb-gopool/data:/app/data
      - /home/umbrel/umbrel/app-data/rodb-gopool/scripts:/app/scripts
      - /home/umbrel/umbrel/app-data/rodb-gopool/logo.png:/app/logo.png:ro
      - /home/umbrel/umbrel/app-data/bitcoin/data/bitcoin/:/home/umbrel/:ro
    environment:
      - APP_ENV=production
      - PORT=80
      - MANAGER_IP=${UMBREL_MANAGER_IP:-10.21.0.1}
      - UMBREL_AUTH_SECRET=${UMBREL_AUTH_SECRET}
    networks:
      - umbrel_main_network
  rodb-gopool-widget:
    image: rodb2008com/gopool-api-etl:latest
    restart: unless-stopped
    container_name: rodb-gopool-widget_1
    networks:
      - umbrel_main_network
networks:
  umbrel_main_network:
    external: true
