version: '3.7'
services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
     ports:
       - '81:80'
    environment:
      APP_HOST: rodb-pgadmin_1
      APP_PORT: 80
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: P@ssw0rd
