# Configuration
YOUR_TZ="America/Los_Angeles"
# YOUR_TZ="UTC"
COIN="🐉 BSV"
TARGET=$(curl -sL https://api.whatsonchain.com/v1/bsv/main/chain/info | jq '.blocks')
NODE_PATH="/home/umbrel/umbrel/app-data/retro-mike-bsv-node"
BLOCKCHAIN_DIR=".bitcoinsv"
DOCKER_CONTAINER_NAME="retro-mike-bsv-node_node_1"
RPC_PORT="9005"
RPC_USER="pooluser"
RPC_PASSWORD="poolpassword"
CLI_BINARY="bitcoin-cli"
NODE_LOGFILE="bitcoind.log"

# --- DYNAMIC DOCKER COMMAND SELECTION ---
STAT_PATH="/proc/stat"
# 1. Check if we are already inside a container
if [ -f /.dockerenv ]; then
    DOCKER_CMD="docker"
    STAT_PATH="/host/proc/stat"
# 2. If on host, check if current user needs sudo for docker
elif ! docker ps >/dev/null 2>&1; then
    DOCKER_CMD="sudo docker"
else
    DOCKER_CMD="docker"
fi

# Dynamic Calculations
TARGET_DATE=$(TZ="${YOUR_TZ}" date +"%Y-%m-%d %H:%M")
[ -z "$TARGET" ] && TARGET=999999 
if [ "$TARGET" -eq 999999 ]; then TARGET_COL="${R}"; else TARGET_COL="${Y}"; fi
CLI_PATH="${DOCKER_CMD} exec -i ${DOCKER_CONTAINER_NAME} ${CLI_BINARY} -rpcport=${RPC_PORT} -rpcuser=${RPC_USER} -rpcpassword=${RPC_PASSWORD} "
CHAIN_PATH="${NODE_PATH}/${BLOCKCHAIN_DIR}/chainstate"
BLOCK_PATH="${NODE_PATH}/${BLOCKCHAIN_DIR}/blocks"
PEER_HISTORY="/tmp/peer_history"

# --- DISCORD CONFIG ---
DISCORD_URL=""
MY_UID=0
DISCORD_BLOCK_NOTIFICATION=10000
