# Configuration
YOUR_TZ="America/Los_Angeles"
# YOUR_TZ="UTC"
COIN="🔵 DGB"
TARGET=$(curl -s https://www.coinwarz.com/mining/digibyte/difficulty-chart | grep -oP 'block \K[0-9,]+' | head -1 | tr -d ',')
NODE_PATH="/home/umbrel/umbrel/app-data/retro-mike-dgb-node-sha256"
BLOCKCHAIN_DIR=".digibyte"
DOCKER_CONTAINER_NAME="retro-mike-dgb-node-sha256_digibyted_1"
RPC_PORT="9001"
RPC_AUTH="pooluser:bc1f961ad347f79ab97fa7e3ac35f02a$$eb31de681359ba83be70e2cc178bf7de7b3b7affb29df2fb41907436d8ef734e"
CLI_BINARY="digibyte-cli"
NODE_LOGFILE="debug.log"

# --- DYNAMIC DOCKER COMMAND SELECTION ---
STAT_PATH="/proc/stat"
# 1. Check if we are already inside a container
if [ -f /.dockerenv ]; then
    DOCKER_CMD="docker"
    STAT_PATH="/host/proc/stat"
# 2. If on host, check if current user needs sudo for docker
elif ! docker ps >/dev/null 2>&1; then
    DOCKER_CMD="sudo docker"
else
    DOCKER_CMD="docker"
fi


# Dynamic Calculations
TARGET_DATE=$(TZ="${YOUR_TZ}" date +"%Y-%m-%d %H:%M")
[ -z "$TARGET" ] && TARGET=999999
if [ "$TARGET" -eq 999999 ]; then TARGET_COL="${R}"; else TARGET_COL="${Y}"; fi
CLI_PATH="${DOCKER_CMD} exec -i ${DOCKER_CONTAINER_NAME} ${CLI_BINARY} -rpcport=${RPC_PORT} "
CHAIN_PATH="${NODE_PATH}/${BLOCKCHAIN_DIR}/chainstate"
CHAIN_PATH="${NODE_PATH}/${BLOCKCHAIN_DIR}/chainstate"
BLOCK_PATH="${NODE_PATH}/${BLOCKCHAIN_DIR}/blocks"
PEER_HISTORY="/tmp/peer_history"

# --- DISCORD CONFIG ---
DISCORD_URL=""
MY_UID=0
DISCORD_BLOCK_NOTIFICATION=10000
