services:
  syncmon-monitor:
    image: rodb2008com/rodb-syncmon-monitor:latest
    container_name: rodb-syncmon-monitor
    restart: unless-stopped
    network_mode: host
    privileged: true
    pid: host
    env_file:
      - .env
    environment:
      - TTYD_PORT=8180
    volumes:
      - ./syncmon.sh:/usr/local/bin/syncmon.sh:ro
      - ./${COIN_FILE:-btc.coin.config}:/usr/local/bin/coin.config:ro
      # Use the fallback here to prevent the "invalid spec ::ro" error
      - ${BITCOIN_DATA_PATH:-/home/umbrel/umbrel/app-data/bitcoin}:${BITCOIN_DATA_PATH:-/home/umbrel/umbrel/app-data/bitcoin}:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/sys:ro
      - /proc:/host/proc:ro
